<html lang="hu">
<head>
    <title>Konferencia Timeline</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <img src="/img/logo.svg" alt="Simonyi Konferencia" class="col-md-4 offset-4 mb-4 mt-4">
        <table class="table">
            <tr>
                <th>IB027</th>
                <th>IB028</th>
            </tr>
            <tr>
                <td>Esemény </td>
                <td>Esemény </td>
            </tr>
        </table>
    </div>

</body>
</html>
