<html lang="hu">
<head>
    <title>Konferencia Timeline</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <link data-react-helmet="true" href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <img src="/img/logo.svg" alt="Simonyi Konferencia" class="col-xs-12 col-md-4 offset-md-4 mb-4 mt-4">
    </div>
    <!--<div class="row">
        <div class="col-xs-12 text-center">
            <h1>IB028</h1>
        </div>
    </div>-->
    <div class="row mt-3">
        <div class="col-md-7">

            <div class="card col-xs-12 mb-2">
                <h2>Aktuális előadás</h2>
                <div class="card-body current-event">
                </div>
            </div>

            <div class="card col-xs-12">
                <h2>Következő előadás</h2>
                <div class="card-body next-event">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h2>Összes előadás</h2>
            <div class="events">
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
