<html lang="hu">
<head>
    <title>Konferencia Timeline</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <link data-react-helmet="true" href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <img src="/img/logo.svg" alt="Simonyi Konferencia" class="col-xs-12 col-md-4 offset-md-4 mb-4 mt-4">
    </div>
    <!--<div class="row">
        <div class="col-xs-12 text-center">
            <h1>IB028</h1>
        </div>
    </div>-->
    <div class="row">
        <div class="col-md-8">

            <div class="card col-xs-12 mb-2">
                <h2>Aktuális előadás</h2>
                <div class="card-body">
                    <h3><strong>Esemény megnevezése</strong> - Kovács János</h3>
                    <span>10:15 - 12:00</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis dignissimos dolorum ducimus error
                        illo necessitatibus quia sed suscipit tempora. Animi aspernatur dolorem ex facere id ipsa nihil officiis
                        pariatur perferendis, provident qui quidem, quisquam ratione rem sit ullam ut voluptatem voluptatum. Amet
                        animi aspernatur consequatur doloribus est id in nam natus, possimus praesentium quidem repellat rerum,
                    </p>
                </div>
            </div>

            <div class="card col-xs-12">
                <h2>Következő előadás</h2>
                <div class="card-body">
                    <h3>Esemény megnevezése</h3>
                    <span>10:15 - 12:00</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Összes előadás</h2>
            <table style="width: 100%">
                <tr>
                    <td>
                        <div class="card col-xs-12">
                            <div class="card-body past">
                                <h5><strong>Multbeli esemény megnevezése</strong> Kovács János</h5>
                                <span>10:15 - 12:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card col-xs-12">
                            <div class="card-body past">
                                <h5><strong>Multbeli esemeny megnevezése</strong> Kovács János</h5>
                                <span>10:15 - 12:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card col-xs-12">
                            <div class="card-body current">
                                <h5><strong>Esemény megnevezése</strong> Kovács János</h5>
                                <span>10:15 - 12:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card col-xs-12">
                            <div class="card-body next">
                                <h5><strong>Esemény megnevezése</strong> Kovács János</h5>
                                <span>10:15 - 12:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card col-xs-12">
                            <div class="card-body next">
                                <h5><strong>Esemény megnevezése</strong> Kovács János</h5>
                                <span>10:15 - 12:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="/js/main.js"></script>
</body>
</html>
