<html lang="hu">
<head>
    <title>Konferencia Timeline</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="col-md-6 offset-3">
            <form method="post" action="admin/login">
                <div class="form-group text-center">
                    <label for="password">Jelszó</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Jelszó..">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-outline-light">Bejelentkezés</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
